<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.marlabs.testCase.TC01_AllSearch"/>
     <class name="com.marlabs.testCase.TC02_HompePageContents"/>
     <class name="com.marlabs.testCase.TC03_HospitalProfilePageTestCase"/>
     <class name="com.marlabs.testCase.TC04_BestHospitalsSearchAll"/>
    <!--  <class name="com.marlabs.testCase.TC05_BestDoctorsSearch"/> -->
      <class name="com.marlabs.testCase.TC06_BestHospitalsSearch"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
